<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
      <!-- 对象字面量适合需要额外参数的校验器 -->
      <div id="app">
        <validator name="validation">
          <form novalidate>
            ID:<input type="text" v-validate:id="{required:true,minlength:3,maxlength:10}" name=""><br />
            <div>
              <span v-if="$validation.id.required">ID is required</span>
              <span v-if="$validation.id.minlength">your id is to short</span>
              <span v-if="$validation.id.maxlength">your id is to long</span>
            </div>
          </form>
        </validator>
      </div>
    </body>
</html>
<script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="../node_modules/vue-validator/dist/vue-validator.js"></script>
<script type="text/javascript">
new Vue({
  el:"#app"
})
</script>