<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
      <div id="app">
        <div v-for="item in items">
          <span>{{item.text}}</span>
          <input type="text" v-model="item.value" name="" number lazy>
        </div>
        <div>
          <span>计算后：{{total}}</span>
        </div>
      </div>
    </body>
</html>
<script src="http://cdn.jsdelivr.net/vue/1.0.7/vue.min.js"></script>
<script type="text/javascript">
//以下一句便于调试
Vue.config.value = true;
new Vue({
  el:"#app",
  data:{
    items:[{text:"安全手电筒",value:0},{text:"手套",value:0},{text:"帽子",value:0}]
  },
  computed:{
    total:function(){
      var totalNum = 0;
      for (var i = 0; i < this.items.length; i++) {
         totalNum = this.items[i].value + totalNum;
      };
      return totalNum;
    }
  }
})
</script>