<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <style>
      .root{
        background-color: pink;
        margin-left: 500px;
      }
      .component2{
        background-color: green;
        margin-left: 20px;
      }
      .component3{
        background-color: yellow;
        margin-left: 300px;
      }
    </style>
    </head>
    <body>
    <template id="component3">
    <!-- 最小组件模板 -->
      <div class='component3'>
        <br>组件 C3
        <input type="text" v-model="msg" name="">
        <button @click='c3_do1'>c3广播事件至根组件</button>
        <button @click='c3_do2'>c3 $parent 设置资料</button>
        <button @click='c3_do3'>c3 $root 设置资料</button>
        <button @click='c3_do4'>c3 all_events事件</button>
        <button @click='c3_do5'>c3 all_events事件1</button>
      </div>
    </template>
    <!-- 子组件模板 -->
    <template id="component2">
      <div class="component2">
        <p>组件 c2 msg：{{msg | json}}</p>
        <input type="text" v-model='msg' name="">
        <button @click='c2_do1'>C2广播事件至根组件</button>
        <button @click='c2_do2'>C2 清空 $parent资料</button>
        <component3></component3>
      </div>
    </template>
    <!-- 根组件模板 -->
    <div id="component1">
      <hr>
      <p class="root">根组件 Message:{{messages|json}}</p>
      <button @click="c1_do1">组件 c2[0] 设置子组件资料</button>
      <button @click="c1_do2">组件 c2[1] 设置子组件资料</button>
      <button @click="c1_do3">组件 c2[2] 设置子组件资料</button>
      <c2></c2>
      <c2></c2>
      <c2></c2>
    </div>
    <div id="app">
      <my-component></my-component>
    </div>
    </body>
</html>
<script src="../node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript">
Vue.component('component3',{
  template:'#component3',
  data:function(){
    return {
      msg:'c3 杨国超'
    }
  },
  methods:{
    "c3_do1":function(){
      if(this.msg.trim()){
        this.$dispatch('c1_events',this.msg);
        this.msg = '';
      }
    },
    'c3_do2':function(){
      this.$parent.$set('msg','设值子组件完成');
    },
    'c3_do3':function(){
      this.$root.messages.push(this.msg);
    },
    'c3_do4':function(){
      this.$dispatch('all_events',this.msg);
    },
    'c3_do5':function(){
      this.$dispatch('all_events1',this.msg);
    }
  }
})


//注册子组件
//将当前消息派发出去
Vue.component('c2',{
  template:'#component2',
  data:function(){
    return {
      msg:'c2 感谢 感谢一切'
    }
  },
  methods:{
    'c2_do1':function(){
      if(this.msg.trim()){
        this.$dispatch('c1_events',this.msg);
        this.msg = ''
      }
    },
    'c2_do2':function(){
      this.$parent.messages = [];
    }
  },
  events:{
    'all_events':function(msg){
      console.log('all_events c2:'+msg);
      return true;
    },
    'all_events1':function(msg){
      console.log('all_events c2'+msg);
    }
  }
})

// 初始化父组件
// 将收到消息时将事件推到一个数组里面
var Parent = new Vue({
  el:'#component1',
  data:{
    messages:[]
  },
  events:{
    'c1_events':function(msg){
      this.messages.push(msg);
      console.log('c1_events:'+msg);
    },
    'all_events':function(msg){
      console.log('all_events Parent:'+msg);
    },
    'all_events':function(msg){
      console.log('all_events1 Parent:'+msg);
    }
  },
  methods:{
    'c1_do1':function(){
      this.$emit('c1_events','Parent events do')
      this.$children[0].msg = '组件c2[0]设值';
    },
    'c1_do2':function(){
      this.$children[1].msg = '组件c2[1]设值';
    },
    'c1_do3':function(){
      this.$emit('c1_events','Parent events do')
      this.$children[2].msg = '组件c2[2]设值';
    },
  }
})

var vm = new Vue({
  el:"#app",
  components:{
    'my-component':Parent
  },
  ready(){
    this.$on('events3',function(msg){
      console.log(msg);
    })
  },
  events:{
    'events4':function(msg){
      console.log(msg);
    }
  }
});


// vm.$on('events1',function(msg){
//   console.log(msg);
// })

// // 多次调用只执行一次啊
// vm.$once('events1-once',function(msg){
//   console.log('once:' + msg);
// })
// vm.$emit('events1','events1 do 1');
// vm.$emit('events1','events1 do 1');
// vm.$emit('events1-once','events1 do 1');
// vm.$emit('events1-once','events1 do 1');
// vm.$emit('events3','events3 do 1');
// vm.$emit('events3','events3 do 2');
// vm.$emit('events4','events4 do 1');
// vm.$emit('events4','events4 do 2');
</script>